{{ $id := .Get "id" }}
<div class="modal fade" tabindex="-1" id="{{ $id }}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">{{ .Get "title" }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ .Inner | markdownify }}
            </div>
        </div>
    </div>
</div>