{{ $watermark := .Get "text" }}
{{ $id := delimit (shuffle (seq 1 9)) "" }}
<div id="{{ $id }}" class="watermark position-relative">
    {{- .Inner -}}
    <svg id="{{ $id }}-svg" class="position-absolute top-50 start-0" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 24" style="rotate: 30deg;">
        <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="rgba(127,127,127,.2)" stroke="none"
            font-size="2em" font-family="Arial">{{ $watermark }}</text>
    </svg>
</div>

<script>
    const box = document.getElementById("{{ $id }}");

    const svg = box.querySelector("svg");
    const text = svg.querySelector("text");
    const length = text.getComputedTextLength();
    const dims = text.getBoundingClientRect();

    const some = box.getBoundingClientRect();

    console.log({ length, dims, some });

    svg.setAttribute("viewBox", `0 0 ${length + 40} 24`);
</script>